<form>
    {{#each consumption as |consume|}}
        <div class="form-group" data-index="{{@index}}">
            {{app-match-document-target
                value=consume.matchDocument
                relativeTo=@root.item
            }}

            <label>
                {{#if isStaticAmount}}
                    {{localize "DIALOG.ItemConsume.ShouldConsume.Static" amount=consume.value.min resource=(localize resourceLabel)}}
                {{else if isCappedAmount}}
                    {{localize "DIALOG.ItemConsume.ShouldConsume.RangeCapped" min=consume.value.min max=consume.value.max actual=consume.value.actual resource=(localize resourceLabel)}}
                {{else}}
                    {{localize "DIALOG.ItemConsume.ShouldConsume.RangeUncapped" amount=consume.value.min resource=(localize resourceLabel)}}
                {{/if}}
            </label>

            <div class="form-fields narrow">  
                {{#if (not isStaticAmount)}}
                    <input name="[{{@index}}].value" type="number"
                        min="{{consume.value.min}}"
                        {{#if (gte consume.value.max consume.value.min)}}max="{{consume.value.max}}"{{/if}}
                        value="{{consume.value.actual}}"
                        step="1"
                    >
                {{else}}
                    <div></div>
                {{/if}}

                <input name="[{{@index}}].shouldConsume" type="checkbox" {{#if consume.shouldConsume}}checked{{/if}}>
            </div>  
        </div>
    {{/each}}

    <div class="form-group submit">
        <button type="submit" data-action="continue">
            {{localize "GENERIC.Button.Continue"}}
        </button>
    </div>  
</form>