{{#if hasActivation}}

{{log this}}
    <fieldset>
        <legend>{{localize "COSMERE.Item.Sheet.Activation.Title"}}</legend>

        {{!-- Activation Type --}}
        {{formGroup systemFields.activation.fields.type 
            name="system.activation.type"
            value=item.system.activation.type 
            localize=true
            disabled=(not editable)
        }}

        {{#if hasActivationType}}
            {{!-- Cost --}}
            <div class="form-group">
                <label>{{localize systemFields.activation.fields.cost.label}}</label>
                <div class="form-fields">
                    {{!-- Cost value --}}
                    {{#if (eq item.system.activation.cost.type "act")}}
                        {{formInput systemFields.activation.fields.cost.fields.value
                            name="system.activation.cost.value"
                            value=item.system.activation.cost.value
                            type="number"
                            localize=true
                            readonly=(not editable)
                        }}
                    {{/if}}

                    {{!-- Cost type --}}
                    {{formInput systemFields.activation.fields.cost.fields.type
                        name="system.activation.cost.type"
                        value=item.system.activation.cost.type
                        localize=true
                        disabled=(not editable)
                    }}
                </div>
            </div>
      
            {{!-- Resources --}}

            {{!-- Consume --}}
            <div class="form-group consume">
                <label>{{localize systemFields.activation.fields.consumption.label}}</label>
                {{app-item-resource-consumption-list
                    item=item
                    disabled=(not editable)
                }}
                {{!-- <div class="form-fields-list">
                    {{#each consume}}
                        <div class="form-fields">
                            <input name="system.activation.consumption[{{@index}}].value"
                                type="text"
                                value={{resourceCostInput this.value}}
                                {{#if (not ../editable)}}
                                readonly
                                {{/if}}
                            >

                            {{#if (or (eq this.type "resource") (eq this.type "item_resource"))}}
                                {{formInput this.schema.fields.resource
                                    name=(concat "system.activation.consumption[" @index "].resource")
                                    value=this.resource
                                    localize=true
                                    disabled=(not @root.editable)
                                }}
                            {{/if}}

                            {{formInput this.schema.fields.type
                                name=(concat "system.activation.consumption[" @index "].type")
                                value=this.type
                                localize=true
                                disabled=(not @root.editable)
                            }}
                            
                            <div class="extra">
                                {{#unless @last}}
                                <span class="icon faded"><i class="fa-solid fa-bars"></i></span>
                                {{else}}
                                <a class="icon active" data-action="add-consumption-option"><i class="fa-solid fa-plus"></i></a>
                                {{/unless}}
                            </div>
                        </div>
                    {{else}}            
                        <div class="form-fields">
                        {{formInput systemFields.activation.fields.consumption.element.baseFields.type
                            name="system.activation.consumption[].type"
                            value="none"
                            localize=true
                            disabled=(not editable)
                        }}
                        </div>
                    {{/each}}
                </div> --}}
            </div>

            {{!-- Skill test --}}
            {{#if (eq item.system.activation.type "skill_test")}}
                {{!-- Skill select --}}
                {{formGroup systemFields.skillTest.fields.skill 
                    name="system.skillTest.skill"
                    value=item.system.skillTest.skill 
                    localize=true
                    disabled=(not editable)
                }}

                {{!-- Attribute select --}}
                {{#if hasSkill}}
                    {{formGroup systemFields.skillTest.fields.attribute 
                        name="system.skillTest.attribute"
                        value=item.system.skillTest.attribute 
                        localize=true
                        disabled=(not editable)
                    }}
                {{else}}
                    <div class="form-group">
                        <label>{{localize systemFields.skillTest.fields.attribute.label}}</label>
                        <div class="form-fields">
                            <input
                                type="text"
                                value="—"
                                readonly
                            >
                        </div>
                    </div>
                {{/if}}

                {{!-- Additional Formula --}}
                {{formGroup systemFields.skillTest.fields.modifierFormula 
                    name="system.skillTest.modifierFormula"
                    value=item.system.skillTest.modifierFormula 
                    localize=true
                    readonly=(not editable)
                }}

                <p class="hint">
                    {{localize "COSMERE.Item.Sheet.Activation.AdditionalFormulaDescription"}}
                </p>

                {{!-- Raise the stakes --}}
                {{formGroup systemFields.skillTest.fields.plotDie 
                    name="system.skillTest.plotDie"
                    value=item.system.skillTest.plotDie 
                    localize=true
                    readonly=(not editable)
                }}

                {{!-- Opportunity and Complication --}}
                {{formGroup systemFields.skillTest.fields.opportunity 
                    value=item.system.skillTest.opportunity 
                    type="number"
                    placeholder="20"
                    localize=true
                    class="field"
                    readonly=(not editable)
                }}
                {{formGroup systemFields.skillTest.fields.complication 
                    value=item.system.skillTest.complication 
                    type="number"
                    placeholder="1"
                    localize=true
                    readonly=(not editable)
                }}
            {{/if}}
        {{/if}}
    </fieldset>
{{/if}}